---
import Imagen from "@components/layout/Imagen.astro";
import Dots from "@assets/dots.svg";
---

<>
  <Imagen
    img={Dots}
    alt="dots"
    ImgClass="hidden lg:block absolute top-1/2 -translate-y-1/2 -left-24 xl:-left-7"
    hiden={true}
  />
  <Imagen
    img={Dots}
    alt="dots"
    ImgClass="hidden lg:block absolute top-1/2 -translate-y-1/2 -right-24 xl:-right-7"
    hiden={true}
  />
</>

<div class=""></div>
