---
---

<form
  action=""
  class="relative border-8 border-neutral-900 p-6 rounded-lg grid gap-8 md:flex-1 md:max-w-lg my-4 md:my-12 lg:my-16 bg-white dark:bg-neutral-800 w-full"
>
  <h2 class="text-3xl font-bold" id="contact">Let's Connect!</h2>
  <div class="relative">
    <input
      placeholder="Fernando Ceballos"
      type="text"
      id="name"
      class="peer form-input w-full border-4 border-amber-400 rounded-md dark:focus:ring-offset-2 focus:ring-4 focus:border-amber-400 focus:outline-none dark:bg-amber-400 dark:text-neutral-900 focus:ring-amber-400 transition-colors"
    />
    <label
      for="name"
      class="text-neutral-500 font-bold text-sm uppercase absolute -top-4 -translate-y-1/2 left-2 transition-all peer-focus:text-neutral-600 peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 dark:peer-focus:text-neutral-300"
      >Your Name</label
    >
  </div>

  <div class="relative">
    <input
      placeholder="cerealdantes@gmail.com"
      type="email"
      id="email"
      class="peer form-input w-full border-4 border-amber-400 rounded-md dark:focus:ring-offset-2 focus:ring-4 focus:border-amber-400 focus:outline-none dark:bg-amber-400 dark:text-neutral-900 focus:ring-amber-400 transition-colors"
    />
    <label
      for="email"
      class="text-neutral-500 font-bold text-sm uppercase absolute -top-4 -translate-y-1/2 left-2 transition-all peer-focus:text-neutral-600 peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 dark:peer-focus:text-neutral-300"
      >Your Email</label
    >
  </div>

  <div class="relative">
    <textarea
      name="content"
      id="content"
      cols="20"
      rows="5"
      placeholder="How can we help"
      class="peer form-textarea resize-none w-full border-4 border-amber-400 rounded-md dark:focus:ring-offset-2 focus:ring-4 focus:border-amber-400 focus:outline-none dark:bg-amber-400 dark:text-neutral-900 focus:ring-amber-400 transition-colors"
    >
    </textarea>
    <label
      for="content"
      class="text-neutral-500 font-bold text-sm uppercase absolute -top-3 -translate-y-1/2 left-2 transition-all peer-focus:text-neutral-600 peer-placeholder-shown:left-4 peer-placeholder-shown:top-6 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 dark:peer-focus:text-neutral-300"
      >How can we help?</label
    >
  </div>
  <a
    href=""
    class="py-2 px-6 bg-neutral-900 text-white w-max shadow-xl hover:shadow-none dark:text-neutral-900 focus:outline-none focus-visible:ring-4 ring-neutral-900 rounded-md ring-offset-4 ring-offset-white dark:ring-offset-amber-400 transition-shadow"
    >Sign Up</a
  >
</form>
