---
import MenuItems from "@components/layout/MenuItems.astro";
---

<button
  aria-expanded="false"
  aria-label="Open Menu"
  id="menu"
  class="lg:hidden focus:outline-none focus-visible:ring-4 ring-neutral-900 rounded-sm ring-offset-4 ring-offset-amber-400 text-neutral-900 hover:text-neutral-600 transition-colors"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-8 h-8"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
  </svg>
</button>
<MenuItems rol="menubar" />

<script>

  const navBtn = document.querySelector("#menu");
  const menuBar = document.querySelector("[role=menubar]");

  navBtn.addEventListener("click", () => {
    const isExpanded = JSON.parse(navBtn.getAttribute("aria-expanded"));
    navBtn.setAttribute("aria-expanded", !isExpanded);
    menuBar.classList.toggle("hidden");
    menuBar.classList.toggle("flex");
  });
</script>
