---
import logo from "@assets/logo.svg";
import Imagen from "@components/layout/Imagen.astro";
import MenuButton from "@components/layout/MenuButton.astro";
---

<nav class="mx-auto p-4 bg-amber-400">
  <div class="container mx-auto flex items-center justify-between">
    <a
      href="/HomeSmart/"
      class="focus:outline-none focus-visible:ring-4 ring-neutral-900 rounded-sm ring-offset-4 ring-offset-amber-400 lg:absolute lg:left-1/2 lg:-translate-x-1/2 lg:top-9 z-50 hover:opacity-75 transition-opacity"
      aria-label="Go to homepage"
    >
      <Imagen
        img={logo}
        alt="Home Smart Logo"
        ImgClass=""
        ancho={200}
        ImgClass="w-48 md:w-64 lg:w-72"
      />
    </a>
    <MenuButton />
  </div>
</nav>
