---
import PartnersIcons from "@components/layout/PartnersIcons.astro";
---

<section
  aria-label="partners"
  class="text-center grid gap-8 place-items-center"
>
  <div class="grid gap-4">
    <h2 id="partners" class="text-4xl font-bold text-amber-400">
      Our Partners
    </h2>
    <p class="w-full max-w-lg">
      We've partnered with hundreds of smart home brands to help you create a
      smart home that fits your needs and doesn't lock you in
    </p>
  </div>
  <PartnersIcons />
</section>
