---
import Navbar from "@components/Navbar.astro";
import Header from "@components/Header.astro";
import Cards from "@components/Cards.astro";
import MainHead from "@layouts/MainHead.astro";
import Form from "@components/Form.astro";
---

<!DOCTYPE html>
<html lang="en">
  <MainHead seoTitle="Home Smart" seoDesc="Home smart home page" />
  <body
    class="max-w-[2000px] mx-auto text-neutral-900 dark:text-neutral-200 dark:bg-neutral-900 bg-white"
  >
    <Navbar />
    <Header />
    <Cards />
    <Form />
    <slot />
  </body>
</html>
