---
import Navbar from "@components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <body
    class="max-w-[2000px] mx-auto text-neutral-900 dark:text-neutral-200 dark:bg-neutral-800 bg-neutral-50"
  >
    <Navbar />
    <slot />
  </body>
</html>
